@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
        background-color: #F7F7F7;
    }

    * {
        box-sizing: border-box;
    }

    html { height: 100%; overflow:auto; }
    body { height: 100%; }
}

@layer components {
    .page-action-button {
        @apply mt-auto w-full;
    }

    .signup-form-label {
        @apply font-black;
    }
}