<div style="text-align: center;">
    <img src="https://housemates-backend.onrender.com/images/housemateBrand.png" alt="Housemates Logo" width="330" height="60">
</div>

<h1 style="text-align: center; font-size: 24px; color: #333;">Welcome to Housemates!</h1>

<p style="text-align: center; font-size: 16px; color: #666;">
    We're thrilled to have you on board. To confirm your email and become an official Housemate, just click the button below.
</p>

<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
    <%= link_to 'Confirm My Account', confirmation_url(@resource, confirmation_token: @token),
    style: "background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 18px;" %>
</div>

<p style="text-align: center; font-size: 16px; color: #666;">
    If you didn't expect this email or need any assistance, feel free to contact our friendly support team at support@housemates.com.
</p>

<p style="text-align: center; font-size: 16px; color: #666;">
    Thanks for joining the Housemates community! 🏡
</p>